.free-table
{
    width:100%;
    padding:0;
    font-size:11pt;
}
.free-table p
{
    color:#e3004f;
    margin:8px 0;
}
.free-table td
{
    border-bottom: 1px solid #bbb;
}
.free-table .sub-table td
{
    border-bottom: 1px dashed #EEEEEE;
    height:42px;
    padding-left:10px;
}
.free-table .sub-table tr:last-child td
{ 
    border-bottom: none;
}
.free-table .sub-table tr:hover
{
    background:#F0F0F0;    
}
.free-table .head-td {
    width: 110px;
    text-align:center;
    background-color:#F6F6F6;
    vertical-align:top;
    color:#555;
    padding-top:12px;
    font-size:14pt;
}
.free-table .price-td
{
    width:80px;
    text-align:center;
    color:#ff8300;
}
.free-table .order-td
{
    width:110px;
}
.free-table .btn_orange {
    border-radius: 2px;
    padding: 5px 20px;
    height: 40px;
    line-height: 40px;
    font-size:12pt;
    color: #fff;
    background-color: #ff8300;
}
.free-table .btn_orange:hover
{
    background-color: #FF5400;
}
.free-table .title
{
    color:#0073B6;
}
.free-table .title:hover
{
    color:#FF6600;
}